* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

main {
    padding: 1rem;
    max-width: 1920px;
    margin: 0 auto;
}

.conteudo1 {
    justify-content: left;
    margin:  0;
    padding: 1rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 1200px;
}

.conteudo2 {
    justify-content: left;
    margin:  0;
    padding: 1rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 700px;
}

.img1 img {
    width: 250px;
    margin: 0;
    background-color: #ffffff;
}

.texto1 {
    margin: 0;
    width: 1920px;
    background-color: lightgrey;
    padding: 0;
    text-align: left;
    font-size: 25px;
    gap: 1rem;
}

.texto2 {
    margin: 0;
    width: 50px;
    font-size: 20px;
    gap: 2rem;
    padding-left: 1rem;
}

.flexivel {
    display: flex;
    gap: 2rem;
}

.img2 img {
    width: 1920px;
    height: 60px;
    margin: 0;
}
