* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    
}

main {
    padding: 1rem;
    max-width: 1920px;
    margin: 0 auto;
}

.conteudo1 {
    margin: 0;
    padding: 1rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 70vw;
    height: 31vh;
}

.conteudo2 {
    margin: 0;
    padding: 0.5rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 27vw;
    height: 31vh;
}

.texto h1{
    color: blue;
    font-size: medium;
}

.texto h2{
    color: blue;
    font-size: medium;
}

.conteudo2 img {
    padding: 0;
    width: 40px;
    height: 40px;
}

.conteudo1 .texto {
    font-size: small;
    color: blue;
}

.conteudo1 img {
    padding: 0px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}


.tabela {
    font-size: small;
    color: blue;
    
}

.caixa1tabela{
    background-color: blue;
    border-radius: 50px;
    color:white;
    text-align: center;
    font-size: small;
    
}

.caixa {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 26vw;
    height: 5vh;
    color: black;
}

.caixa1 {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 26vw;
    height: 5vh;
    color: black;  
}

.caixa1 button {
    background-color: orange;
    border-color: orange;
}

.caixa2 button {
    background-color: red;
    border-color:red
}

.caixa button {
    background-color: green;
    border: green;
}

.caixa2 {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 26vw;
    height: 5vh;
    color: black;
}

.flexivel {
    display: flex;
    gap: 1vw;
    margin-bottom: 2vh;
    font-size: small;
}

.carousel {
    display: flex;
    overflow: hidden;
    max-width: 175px;
    border-radius: 5px;
    background-color: white;
    border: 4px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 180px;
    object-fit: center;
    object-fit: contain;
    text-overflow: clip;    

}

.carousel img {
    width: 100%;
    transition: ease-in-out;
    transform: 0.5s;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgba(252, 252, 252, 0.1);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    object-fit: center;
    height: 100%
}

.imagem {
    width: 100%;
    max-width: 100px;
    margin-left: 30px;
}

.imagem img {
    width: 100%;
    object-fit: contain;
}

button {
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 3vh;
    width: 4vw;
    border-radius: 0.5rem;
    font-size: small;
}

.icones {

    display: inline-block;
    width: 800px;
    font-size: 30px;
    color:black;

}

.icones1 {
    color: blue;
    background-color: white;
    font-size: 30px;
    border-radius: 20rem;
   
    
}

.product-icon {
    background-color: #bacfee;
    border-radius: 20rem;

}
.block{
    display: block;
    width: 15rem;
}

.texto_inicial {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    
}

.mensagens {
    margin: 0;
    padding: 0.5rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 27vw;
    height: 31vh;
}

.mensagens .texto {
    font-size: small;
    color: blue;
}

.mensagens img {
    padding: 0;
    width: 50px;
}

.mensagens .flexivel {
    gap: 0rem;
}

.mensagens .flex {
    gap: 1rem;
}

.infos {
    display: flex;
    gap: 4rem;
}

.text {
    width: 100px;
}

.caixa3 {
    margin: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 68vw;
    height: 6vh;
    color: black;
}

.transacoes {
    margin: 0;
    padding: 0.5rem;
    background-color: #bacfee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 27vw;
    height: 31vh;
}
